@tailwind base;
@tailwind components;
@tailwind utilities;

.input { @apply border p-2 rounded w-full; }
.btn { @apply bg-blue-600 text-white px-4 py-2 rounded; }
.btn-sm { @apply bg-gray-200 px-2 py-1 rounded text-sm; }
.btn-danger-sm { @apply bg-red-500 text-white px-2 py-1 rounded text-sm; }
